# =========================
# DATABASES
# =========================

AUTH_DB_NAME=auth-service-db
AUTH_DB_USER=admin_user
AUTH_DB_PASSWORD=admin_password

PATIENT_DB_NAME=patient-service-db
PATIENT_DB_USER=admin_user
PATIENT_DB_PASSWORD=admin_password

# =========================
# JWT
# =========================

JWT_SECRET= change_this_secret

# =========================
# KAFKA
# =========================

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# =========================
# BILLING SERVICE
# =========================

BILLING_SERVICE_ADDRESS=billing-service
BILLING_SERVICE_GRPC_PORT=9001

# =========================
# AUTH SERVICE
# =========================

AUTH_SERVICE_URL=http://auth-service:4005

# =========================
# SPRING
# =========================

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_SQL_INIT_MODE=always
SPRING_DATASOURCE_HIKARI_INITIALIZATION_FAIL_TIMEOUT=60000